<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Subject List</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Subject List</h1>
<a href="addSubject">Add Subject</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>Name Subject</th>
      <th>Desc of the Subject</th>
      <th>Teacher in charge</th>
      <th>Secondary Teacher</th>
    </tr>
    <tr th:each ="subject : ${subjects}">
      <td th:utext="${subject.getName()}">...</td>
      <td th:utext="${subject.getDesc()}">...</td>
      <td th:utext="${subject.getTeacher()}" >...</td>
      <td th:utext="${subject.getTeacher2()}">...</td>
      <td><a th:href="@{/showSubjectUpdateForm/{id}(id=${subject.id})}">Update</a>
        <a th:href="@{/deleteSubject/{id}(id=${subject.id})}">Delete</a></td>
    </tr>
  </table>
</div><br/><br/>
<a href="/">Return Home</a>
</body>
</html>